@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: 400; */
  font-style: normal;
  font-variation-settings: "slnt" 0;
}
:root {
  --primary-color: rgba(230, 83, 60, 1);
  --primary-font: "Inter", sans-serif;
}
* {
  margin: 0px;
  padding: 0px;
}
body {
  width: 100%;
  margin: 0 auto;
}
/* header */
.head {
  height: 700px;
  border: 1px solid red;
  background: linear-gradient(180deg, #111111 0%, #282828 100%),
    linear-gradient(360deg, #111111 0%, #282828 100%);
}
/* navbar */
.navbar {
  padding: 50px 200px;
}
.nav-heading {
  color: var(--primary-color);
  font-family: var(--primary-font);
  font-size: 2rem;
  font-weight: 800;
}
.list {
  list-style: none;
}
.nav-anchor {
  text-decoration: none;
  color: #fff;
  font-family: var(--primary-font);
  font-size: 1rem;
  font-weight: 400;
  padding: 10px 20px;
  border-radius: 46px;
}
.nav-anchor:hover {
  background-color: rgba(230, 83, 60, 1);
  transition: 0.3s;
}
#home {
  text-decoration: none;
  color: #fff;
  font-family: var(--primary-font);
  font-size: 1rem;
  font-weight: 400;
  padding: 10px 20px;
  background-color: rgba(230, 83, 60, 1);
  border: none;
  border-radius: 46px;
}
.navbar {
  display: flex;
  justify-content: space-between;
}
.nav-list {
  display: flex;
  gap: 40px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  justify-content: center;
  align-items: center;
  border-radius: 46px;
}
